//@@include('inc/header.html')

<!-- Section: Main -->
<main class="l-main">

    <!-- Section: Start -->
    <section class="start style-d">
        <div class="start-bg" style="background-image: url(assets/img/bg.jpg);">
            <div class="container-alt">
                <h1 class="title">STRICT</h1>
                <div class="start-border">
                    <div class="border"></div>
                </div>
                <h3 class="subtitle">STRICT is a responsive theme with a a clean and minimal look.</h3>
                <div class="section-button">
                    <a class="components c-button style-d padding" href="assets/img/bg.jpg" download="">Call to action</a>
                </div>
                <div class="scroll">
                    <a href="#desing">
                        <img src="assets/img/scroll.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section: Start  -->

    <!-- Section: desing -->
    <section class="section desing style-alt" id="desing">
        <div class="section-bg">
            <div class="container-alt">
                <h2 class="subtitle">Simple & pure design.</h2>
                <h3 class="text">Designers everywhere gush with admiration upon seeing a web design and exclaim "its beautiful, it's so clean!". There are a countless number of webdesign round-ups dedicated to 'clean' design and it is a term thrown around quite a bit
                    in the web design community. It can be easy to spot a good example of clean design.</h3>
            </div>
        </div>
    </section>
    <!-- End of Section: desing  -->

    <!-- Section: feature -->
    <section class="feature style-alt">
        <div class="feature-bg">
            <div class="container-alt">
                <div class="inner">
                    <div class="inner-col">
                        <div class="inner-bg">
                            <img src="assets/img/mobile.png" alt="">
                        </div>
                        <h2 class="subtitle">Optimized for all devices</h2>
                        <h3 class="text">STRICT has been designed to be fully responsive on all devices</h3>
                    </div>
                    <div class="inner-col">
                        <div class="inner-bg">
                            <img src="assets/img/message.png" alt="">
                        </div>
                        <h2 class="subtitle">Clean & Minimal Design</h2>
                        <h3 class="text">This multipurpose theme is especially created to be used for different projects.</h3>
                    </div>
                    <div class="inner-col">
                        <div class="inner-bg">
                            <img src="assets/img/Font.png" alt="">
                        </div>
                        <h2 class="subtitle">Font Awesome Icon</h2>
                        <h3 class="text">This multipurpose theme is especially created to be used for different projects.</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section: feature  -->

    <!-- Section: work -->
    <section class="work style-alt" id="work">
        <div class="section-bg">
            <div class="container-alt">
                <h2 class="subtitle">Showcase your work like a pro.</h2>
                <h3 class="text">Contact me if you like my work</h3>
                <div class="inner">
                    <div class="inner-col">
                        <div class="inner-img">
                            <img src="assets/img/1.jpg" alt="">
                            <div class="inner-item"></div>
                        </div>
                    </div>
                    <div class="inner-col">
                        <div class="inner-img">
                            <img src="assets/img/2.png" alt="">
                            <div class="inner-item"></div>
                        </div>
                    </div>
                    <div class="inner-col">
                        <div class="inner-img">
                            <img src="assets/img/3.png" alt="">
                            <div class="inner-item"></div>
                        </div>
                    </div>
                    <div class="inner-col">
                        <div class="inner-img">
                            <img src="assets/img/4.jpg" alt="">
                            <div class="inner-item"></div>
                        </div>
                    </div>
                    <div class="inner-col">
                        <div class="inner-img">
                            <img src="assets/img/5.jpg" alt="">
                            <div class="inner-item"></div>
                        </div>
                    </div>
                    <div class="inner-col">
                        <div class="inner-img">
                            <img src="assets/img/6.jpg" alt="">
                            <div class="inner-item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section: work  -->

    <!-- Section: Sub -->
    <section class="sub style-d">
        <div class="sub-bg" style="background-image: url(assets/img/bg_cont.jpg);">
            <div class="container-alt">
                <h2 class="subtitle">Showcase your work like a pro.</h2>
                <h3 class="text">Contact me if you like my work</h3>
                <form class="c-form-field style" action="">
                    <input type="text" placeholder="Full Name">
                    <input type="text" placeholder="Email Address">
                    <textarea name="" placeholder="Message"></textarea>
                    <div class="section-btn">
                        <label for="">Subscribe Newsletter</label>
                        <a class="c-button style-d padding" href="#.">Send</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- End of Section: Sub  -->

</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')