<!-- Section: Footer -->
<footer class="c-footer">
    <div class="container-alt">
        <div class="footer-content">
            <div class="copyring">Copyritht 2014, STRICT</div>
            <div class="social">
                <a class="facebook" href="https://ru-ru.facebook.com/" target="_blank">
                    <img src="assets/img/facebook.png" alt="">
                </a>
                <a class="twitter" href="https://twitter.com/login?lang=ru" target="_blank">
                    <img src="assets/img/twitter.png" alt="">
                </a>
                <a class="google" href="https://www.google.com/?gws_rd=ssl" target="_blank">
                    <img src="assets/img/google.png" alt="">
                </a>
                <a class="linke" href="https://ru.linkedin.com/" target="_blank">
                    <img src="assets/img/linkin.png" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- End of Section: Footer -->

<!-- Scripts -->
<script src="assets/js/vendor.min.js?v=1"></script>
<script src="assets/js/main.min.js?v=1"></script>
<!-- End of Scripts -->

</body>

</html>